// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.books {
  .list {
    .title, .author, .published {
      vertical-align: middle;
    }
    .cover {
      width: 54px;
    }
    .title {
      font-size: 14px;
    }
    .author {
      width: 157px;
    }
    .published {
      width: 64px;
    }
    .description {
      font-size: 11px;
      font-style: italic;
      line-height: 15px;
      width: 215px;
    }
  }
}