// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  .book-row {
    margin-top: 20px;
    .title {
      width: 730px;
      line-height: 28px;
    }
  }
  .book-details-list {
    margin-top: 0;
    dd {
      margin-left: 170px;
    }
  }
}
