<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_path %>">Virtual Bookshelf</a>
    <ul class="nav">
      <%= nav_link 'Books', books_path %>
    </ul>
  </div>
</div>